.home .myimg {
  width: 100%;
  margin: 5px;
}
.home .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0home 0.2);
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  font-family: arial;
}
.home .header {
  top: 0%;
  left: 0px;
  right: 0px;
  font-size: 3vw;
  margin-left: 0%;
  margin-right: 0%;
  width: auto;
  background: rgba(0, 0, 0, 0.767);
  border: none;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5px;
}

.home .titl {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 50px;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0home 0.7;
}

.home .col-6 .row .card {
  height: auto;
  width: 100%;
  margin: 10px;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.home .col-6 .row .card btnp {
}
.home .col-6 .row .card btng {
}
.home .col-6 .row .card .title {
  background: none;
}
